.page
{
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    margin: 10px;
    border-radius: 25px;
    padding: 15px;
}
button{
    margin: 10px;
}